<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation targetFramework="4.5" defaultLanguage="c#" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
    <sessionState timeout="60" />
    <globalization culture="es-CO" uiCulture="es-CO" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!-- CONEXION -->
    <!-- CONEXION -->
    <!-- CONEXION -->
    <!-- CONEXION -->
    <!--<add name="oCnx" connectionString="Data Source=LAURA;Initial Catalog=AppsBanco2;Persist Security Info=True;User ID=sa;Password=123"
           providerName="System.Data.SqlClient" />-->
    <remove name="LocalSqlServer" />
    <remove name="LocalMySqlServer" />
    <add name="oCnx" connectionString="Data Source=192.185.10.77;Initial Catalog=parqueemp_bcol;Persist Security Info=True;User ID=parqu_pbcol1;Password=xUwa534!"
        providerName="System.Data.SqlClient"/>
    <!-- CONEXION BD:parqueemp_bcol, Usr:parqu_pempbcol, pssw:uCjg60?4 -->
    <!-- CONEXION parqu_pbcol1 xUwa534! -->
    <!-- CONEXION -->
    <!-- CONEXION -->
 </connectionStrings>
</configuration>